html {
	max-width: 1000px;
	min-width: 400px;
	margin: auto;
}
#background-img {
	position: absolute;
	width: 100%;
	z-index: -9999;
}
body {
	margin: inherit;
	position: relative;
	background-color: rgba(0,0,0,1);
	/*overflow: hidden;*/
}
main {
	overflow: hidden;
	position: relative;
}
#site-header {
	min-height: 180px;
}
#site-title {
	display: table-cell;
	position: relative;
	min-width: 195px;
	width: 195px;
	padding-left: 20px;
	padding-top: 20px;
}
#user-bar {
	display: table-cell;
	position: relative;
	white-space: normal;
	min-width: 200px;
	width: 780px;
	vertical-align: top;
	text-align: right;
}
#user-bar > * {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	padding: 5px 15px 5px 15px;
	border-left: 3px solid;
	min-width: 90px;
	height: 30px;
}
#main-menu {
	display: block;
	position: relative;
	text-align: right;
	vertical-align: bottom;
	white-space: normal;
}
#main-menu > * {
	display: inline-block;
	position: relative;
	text-align: center;
	vertical-align: bottom;
	padding-left: 10px;
	padding-right: 10px;
	min-width: 120px;
	height: 30px;
	white-space: nowrap;
}
#main-section {
	position: relative;
	display: block;
	vertical-align: top;
	width: 100%;
	min-height: 385px;
}
#main-header {
	position: relative;
	padding: 15px;
}
#main-content {
	position: relative;
	padding: 0px 20px 20px 20px;
}
#main-footer {
	position: relative;
	padding: 0px 20px 20px 20px;
}
#site-footer {
	position: relative;
}
#comments {
	position: relative;
	padding: 0px 20px 0px 20px;
}