#register-form {
	margin: 0px 0px 0px 00px;
	font: bold 20px Verdana, sans-serif;
    color: black;
}
#register-form input {
	border: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 5px 0px;
}
#register-form label {
	border: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 5px 0px;
	display: inline-block;
}