header {
	color: white;
}
main {
	color: white;
}
.backdrop {
	background-color: rgba(0,0,0,0.7);
}
.clickable {
	font-weight: bold;
}
.clickable:hover {
	text-decoration: underline;
	font-size: 120%;
	cursor: pointer;
}
.white-text {
	color: white;
}
.black-text {
	color: black;
}
* {
	font-family: Verdana;
	font-style: sans-serif;
	font-weight: normal;
}