<template>
    <div id='login-section'>
    	<form id="login-form-local" action="">
            <table>
                <tr>
                    <td>
                        <label for="email">Email</label>
                    </td>
                    <td>
                        <input class="email" type="email" name="email" placeholder="local-part@sldomain.tld" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Password</label>
                    </td>
                    <td>
                        <input class="password" type="password" name="password" placeholder="Password.." required>
                    </td>
                </tr>
            </table>
            <input class="submit" type="submit" value="Login">
        </form>
        <my-dialog-button>
            <button slot="open">Forgot Password?</button>
            <form slot='content' id="forgot-password-form" action="">
                <table>
                    <tr>
                        <td>
                            <label for="email">Email</label>
                        </td>
                        <td>
                            <input class="email" type="email" name="email" placeholder="local-part@sldomain.tld" required>
                        </td>
                    </tr>
                </table>
                <input class="submit" type="submit" href="#" value="Submit">
            </form>
        </my-dialog-button>
        <form id="login-form-facebook" action="">
            <input class="submit" type="submit" name="Facebook" value="Facebook Login">
        </form>
        <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true" onlogin="fbCheckLoginStatus();"></div>
        <fb:login-button class='hidden' scope="public_profile,email" onlogin="fbCheckLoginStatus();"></fb:login-button>
        <div id="status"></div>
        <form id="login-form-google" action="">
            <input class="submit" type="submit" name="Google" value="Google Login">
        </form>
    </div>
    <style>
        #login-section {
            font-size: 18px;
            text-align: left;
            vertical-align: top;
        }
    </style>
    <script type="text/javascript">
        if(FB) {
            FB.XFBML.parse();
        }
        const formLoginLocal        = document.getElementById('login-form-local')
        const formLoginFacebook     = document.getElementById('login-form-facebook')
        const formForgotPassword    = document.getElementById('forgot-password-form')
        formLoginLocal.addEventListener('submit', function(event) {
            event.preventDefault()
            getAuthenticatedViaCredentials({
                email: formLoginLocal.elements.namedItem('email').value,
                password: formLoginLocal.elements.namedItem('password').value
            })
        });
        formLoginFacebook.addEventListener('submit', function(event) {
            event.preventDefault();
            var clientId = '144772189413167'
            var redirectUrl = location.origin+'/auth/facebook/callback'
            var facebookUrl = 'https://www.facebook.com/v2.9/dialog/oauth'
                +'?client_id='+clientId
                +'&redirect_uri='+redirectUrl
                +'&response_type=token'
                +'&scope=public_profile,email,user_friends'
            window.location.href = facebookUrl
        });
        formForgotPassword.addEventListener('submit', function(event) {
            event.preventDefault();
            const httpClient = new XMLHttpRequest();
            httpClient.open('POST', window.portfolio.apiServerAddress+'/auth/email/request');
            httpClient.setRequestHeader("Content-Type", "application/json");
            httpClient.onreadystatechange = function() {
                if (this.readyState === XMLHttpRequest.DONE) {
                    if(this.status === 200) {
                        const response = JSON.parse(this.response);
                        alert('Thanks for registering! To activate your account continue registration steps in the verification email that has been sent to your address.')
                    }
                    else {
                        handleServerErrorResponse(this.response)
                    }
                }
            }
            const jsonData = {}
            for(var i = 0; i < event.target.length - 1; i++) {
                jsonData[formForgotPassword.elements[i].name] = formForgotPassword.elements[i].value;
            }
            const dataString = JSON.stringify(jsonData)
            httpClient.send(dataString);
        })
    </script>
</template>
