<script type="text/javascript"></script>
<template>
    <p> Hello!</p>
    <p>Thanks for visiting my portfolio site! Stay awhile and explore my content. You can visit my social profiles, identify yourself via social login, and for the tech minded browse my article postings! Visit my social profiles. Feel free to leave any feedback you'd like in the below comment sections (no vulgarity please).
    <p>Creating this app was great fun, and I hope you find it interesting. Behind-the-scenes of this site is an entirely custom web application built on the M.E..N technology stack.. MongoDB, ExpressJS, and the NodeJS runtime (I chose to ignore front-end frameworks for this project). Front-end content is created using 100% native browser DOM manipulation and VanillaJS, including the new Web Component features. Hosting and infrastructure is backed entirely on my personal AWS account via EC2, CloudFront, and S3.</p>
    <p>Please email me if you have any questions or want to get in touch.</p>
    <p>Thanks for stopping by!</p>
</template>